API_URL=http://cobalt-api:9000
API_PORT=9000
TURNSTILE_SITEKEY="2x00000000000000000000BB" # Get from Cloudflare Dashboard
TURNSTILE_SECRET="2x0000000000000000000000000000000AA" # Get from Cloudflare Dashboard
JWT_SECRET="aaaaaaaaaaaa" # Pref 64 lenght alphanumeric
YOUTUBE_SESSION_SERVER="http://yt-session-generator:8080"

#Reverse Proxy
TRUST_DOWNSTREAM_PROXY=false #This auto defaults to false but just in case, enable if you have another reverse proxy in front of this one
VIRTUAL_HOST=cobalt.mtvirux.app # Public URL of the instance
LETSENCRYPT_EMAIL=you@example.com  
